.login {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 7rem);
    align-items: center;
    padding-block: 2rem;
}

.title {
    font-family: Roboto, Arial;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    margin-bottom: 2rem;
}

.status {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.status-icon {
    width: 15rem;
    height: 15rem;
}

.status-text {
    font-family: Roboto, Arial;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    margin-top: 2rem;
    transition: color 0.15s;
}

.re-captcha-solved {
    position: fixed;
    bottom: -1000px;
    right: -1000px;
}