<div class="login">
    <div class="title">
        Passwordless sign in
    </div>
    <div class="status">
        <img  class="status-icon" src="../../../../assets/hourglass.svg" *ngIf="display == 'LOADING' && isReCaptchaSolved()"/>
        <img  class="status-icon" src="../../../../assets/check.svg" *ngIf="display == 'SUCCESS' && isReCaptchaSolved()" />
        <img  class="status-icon" src="../../../../assets/forbidden.svg" *ngIf="display == 'FORBIDDEN' && isReCaptchaSolved()"/>
        <div class="status-text" *ngIf="display != 'CAPTCHA' && isReCaptchaSolved()">
            {{displayMessage}}
        </div>
        <re-captcha class="re-captcha" [class.re-captcha-solved]="isReCaptchaSolved()" (resolved)="resolveReCaptcha($event)" [siteKey]="reCaptchaSiteKey"></re-captcha>
    </div>
</div>