<div class="change-password">
    <div class="title">
        Change Password
    </div>
    <div class="password-form">
        <div class="label">New Password:</div>
        <div class="password-input">
            <input class="input" [type]="isPasswordHidden ? 'password' : 'text'" placeholder="New Password" [(ngModel)]="newPassword">
            <img class="eye" [src]="'../../../../assets/eye' + (isPasswordHidden ? '' : '-slash') + '.svg'" (click)="toggleHidePassword()"/>
        </div>
        <div class="label">Repeat Password:</div>
        <div class="password-input">
            <input class="input" [type]="isRepeatPasswordHidden ? 'password' : 'text'" placeholder="Repeat Password" [(ngModel)]="repeatPassword">
            <img class="eye" [src]="'../../../../assets/eye' + (isRepeatPasswordHidden ? '' : '-slash') + '.svg'"  (click)="toggleHideRepeatPassword()"/>
        </div>
        <div class="change-password-button" (click)="tryChangePassword()">
            <div class="change-password-button-text">Change Password</div>
        </div>
    </div>
</div>

