<div class="auth">
    <div class="title">
        <div class="title-text">
            Two factor authentication
        </div>
        <img  class="x" src="../../../../assets/x.svg" (click)="close()"/>
    </div>
    <div class="text">Type in the code from your Google Authenticator app.</div>
    <div class="label">Code:</div>
    <input class="input" type="number" placeholder="Code" [(ngModel)]="data.code" />
    <div class="auth-button" (click)="login()">
        <div class="auth-button-text">Sign in</div>
    </div>
</div>