<div class="sign-in">
    <div class="title">
        Request passwordless sign in
    </div>
    <div class="sign-in-form" *ngIf="!isSuccessfull">
        <div class="label">Email:</div>
        <input class="input" type="text" placeholder="Email" [(ngModel)]="credentials.username">
        <re-captcha class="re-captcha" (resolved)="resolveReCaptcha($event)" [siteKey]="reCaptchaSiteKey"></re-captcha>
        <div class="sign-in-button" (click)="tryLogin()">
            <div class="sign-in-button-text">Request passwordless sign in</div>
        </div>
    </div>
    <div class="success" *ngIf="isSuccessfull">
        <img  class="check" src="../../../../assets/check.svg"/>
        <div class="success-text">
            Successfully requested account registration. Please wait for administrator's response.
        </div>
    </div>
</div>