<!-- reset-password.component.html -->
<div class="reset-password-container">
    <div class="title">
        Reset password
    </div>
    <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" class="password-form">
      <div class="password-input">
        <label for="newPassword" >New Password:</label>
        <input type="password" id="newPassword" required [(ngModel)]="newPassword" name="newPassword" class="input">
      </div>
      <div class="password-input">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" required [(ngModel)]="confirmPassword" name="confirmPassword" class="input">
      </div>
      <div *ngIf="passwordMismatch" class="error">
        <p>Passwords do not match.</p>
      </div>
      <button type="submit" [disabled]="passwordMismatch">Reset Password</button>
    </form>
  </div>
  